:root {
    --cor-fundo: #222;
    --cor-texto: #fafafa;
    --cor-destaque: #AC1C15;
    --cor-sombra: #471507;
}

body.light {
    --cor-fundo: #fafafa;
    --cor-texto: #222;
    --cor-destaque: #AC1C15;
    --cor-sombra: #ddd;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav {
    position: fixed;
    height: 100vh;
    width: 250px;
    display: flex;
    align-items: center;
}

nav a {
    color: var(--cor-texto);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--cor-destaque);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 50px;
}

main {
    margin-left: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    flex-shrink: 0;
}

.profile {
    display: flex;
    flex-direction: row;
    padding: 40px;
    align-items: flex-start;
    gap: 25px;
}

.profile-stats {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.username {
    font-weight: 700;
}

.username-handle {
    font-weight: 400;
    font-size: 14px;
}

.stat-count {
    font-weight: bold;
}

.profile-bio {
    font-weight: 400;
    font-size: 14px;
}

.grid {
    display: flex;
    gap: 1px;
}

.card img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}

.card {
    position: relative;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover .card-overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.card-overlay p {
    width: 80%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.theme-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.theme-toggle:hover {
    transform: translateY(-5px);
}

.theme-toggle img {
    width: 30px;
    height: 30px;
}